<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yangkids.model.dao.ArticleDao">

	<!-- 전체글 조회 -->
	<select id="selectAll" resultType="Article">
		SELECT * FROM Article;
	</select>

	<!-- 상세글 조회 -->
	<select id="selectOne" parameterType="int" resultType="Article">
		SELECT * FROM Article WHERE articleId = #{articleId};
	</select>

	<!-- 게시글 등록 -->
	<insert id="insertArticle" parameterType="Article"
		keyProperty="id" useGeneratedKeys="true">
		INSERT INTO Article(boardId, articleId, title, writerId, content)
		VALUES (#{boardId}, #{articleId}, #{title}, #{writerId}, #{content})
	</insert>

	<!-- 게시글 삭제 -->
	<delete id="deleteArticle" parameterType="int">
		DELETE FROM Article WHERE articleId= #{articleId}
	</delete>

	<!-- 조회수 증가 -->
	<update id="updateViewCnt" parameterType="int">
		UPDATE Article SET viewCnt = viewCnt+1 WHERE articleId = #{articleId}
	</update>

	<!-- 게시글 수정 -->
	<update id="updateArticle" parameterType="Article">
		UPDATE Article SET title=#{title}, content=#{content}, regDate = now()
		WHERE articleId=#{articleId}
	</update>

	<!-- 검색기능 -->
	<select id="search" resultType="Article" parameterType="SearchCondition">
		SELECT * FROM Article
		<if test="key != 'none'">
			WHERE ${key} LIKE concat('%', #{word}, '%')
		</if>
		<if test="orderBy != 'none'">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>

</mapper>