<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangkids.model.dao.CommentDao">

	<!-- 댓글 목록 조회 -->
	<select id="selectAll" parameterType="int" resultType="Comment">
		SELECT *, User.name as writerName, User.img as writerImg, 
		(SELECT count(*) FROM Recomment WHERE Comment.commentId = Recomment.commentId) as recommentCnt
		FROM Comment JOIN User
		ON Comment.writerId = User.id
		WHERE articleId=#{articleId};
	</select>

	<!-- 댓글 등록 -->
	<insert id="insertComment" parameterType="Comment"
		keyProperty="commentId" useGeneratedKeys="true">
		INSERT INTO
		Comment(articleId, commentId, content, writerId, isAnonymous)
		VALUES
		(#{articleId}, #{commentId}, #{content}, #{writerId}, #{isAnonymous})
	</insert>

	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="int">
		UPDATE Comment SET
		deletedAt=now() WHERE commentId=#{commentId}
	</delete>

	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="Comment">
		UPDATE Comment SET
		content=#{content}, isAnonymous=#{isAnonymous}, isModified=1
		WHERE
		commentId=#{commentId}
	</update>

</mapper>
