<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangkids.model.dao.RecommentDao">

	<!-- 대댓글 목록 조회 -->
	<select id="selectAll" parameterType="int" resultType="Recomment">
		SELECT *, User.name as writerName, User.img as writerImg
		FROM Recomment JOIN User
		ON Recomment.writerId = User.id
		WHERE commentId=#{commentId} AND
		deletedAt IS NULL;
	</select>

	<!-- 대댓글 등록 -->
	<insert id="insertRecomment" parameterType="Recomment" keyProperty="recommentId" useGeneratedKeys="true">
		INSERT INTO Recomment(commentId, recommentId, content, writerId, isAnonymous)
		VALUES (#{commentId}, #{recommentId}, #{content}, #{writerId}, #{isAnonymous})
	</insert>

	<!-- 대댓글 삭제 -->
	<delete id="deleteRecomment" parameterType="int">
		UPDATE Recomment SET deletedAt = now()
		WHERE recommentId=#{recommentId}
	</delete>

	<!-- 대댓글 수정 -->
	<update id="updateRecomment" parameterType="Recomment">
		UPDATE Recomment SET content=#{content}, isAnonymous=#{isAnonymous}, isModified=1
		WHERE recommentId=#{recommentId}
	</update>

</mapper>