<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangkids.model.dao.UserDao">
	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="User">
		INSERT INTO `User`(id,
		name, phoneNumber, email, generation, password,
		age, teacher,
		passwordHint, passwordAnswer, img,
		gender, isEmployed, address,
		detailAddress, campus,
		birth, isAdmin, studentId)
		VALUES
		(#{id}, #{name},
		#{phoneNumber}, #{email}, #{generation}, #{password},
		#{age},
		#{teacher}, #{passwordHint}, #{passwordAnswer}, #{img},
		#{gender},
		#{isEmployed}, #{address}, #{detailAddress}, #{campus},
		#{birth},
		#{isAdmin}, #{studentId})
	</insert>

	<!-- 로그인 -->
	<select id="selectOne" parameterType="String" resultType="User">
		<!-- 로그인 하는 사람 정보 이거 다 필요하진 않을 것 같긴 하지만 일단 다 가져오기.. -->
		SELECT *
		FROM `User`
		WHERE id = #{id}
	</select>

	<!-- 회원탈퇴 -->
	<delete id="deleteUser" parameterType="User">
		DELETE FROM `User`
		WHERE id
		= #{id} AND password = #{password}
	</delete>

	<!-- 사용자 목록 (관리자 페이지) -->
	<select id="getUsers" resultType="User">
		SELECT *
		FROM `User`
	</select>

	<!-- 아이디 중복 확인 -->
	<select id="selectByLoginId" parameterType="String"
		resultType="User">
		SELECT *
		FROM `User`
		WHERE id = #{id}
	</select>

	<!-- 학번 중복 확인 -->
	<select id="selectByStudentId" parameterType="String"
		resultType="User">
		SELECT *
		FROM `User`
		WHERE studentId = #{studentId}
	</select>

	<!-- 본인 확인 -->
	<select id="selectUser" parameterType="map" resultType="User">
		SELECT *
		FROM `User`
		WHERE numId =#{numId} AND password = #{password}
	</select>

	<!-- 회원정보 수정 -->
	<update id="updateUser" parameterType="User">
		UPDATE `User`
		SET phoneNumber = #{phoneNumber}, email = #{email},
		isEmployed = #{isEmployed}
		<if test="password != null">
			, password = #{password}
		</if>
		<if test="img != null">
			, img = #{img}
		</if>
		WHERE numId = #{numId}
	</update>
	
	<!-- 아이디 찾기 -->
	<select id="selectByStudentId" parameterType="String"
		resultType="User">
		SELECT *
		FROM `User`
		WHERE studentId = #{studentId}
	</select>
</mapper>